body {
    background-image: url("https://scontent.fsof11-1.fna.fbcdn.net/v/t1.15752-9/165444429_127503149334138_5090365483631289155_n.jpg?_nc_cat=107&ccb=1-3&_nc_sid=ae9488&_nc_ohc=uwsB66xD1MkAX92dQ0X&_nc_ht=scontent.fsof11-1.fna&oh=4bba6b9f7943ec29e6f192e09c7bc9c2&oe=608440DB");

}

.container {
    height: 100%;
    width: 100%;
    display: inline-block;
}

.footer {
    margin-bottom: 0px;
    text-align: center;
    width: 100%;
    color: rgb(230, 236, 174);
    font-size: 25px;
    font-weight: bold;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    display:grid;

}

.leftHeadEl {
    display: inline-block;
    width: 15%;
}

.rightHeadEl {
    width: 25%;
    text-align: right;
    float: right;
    display: inline-block;
}

.logo {
    margin-left: 5px;
    display: inline-block;
    font-size: 30px;
    color: rgb(112, 89, 21);

    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    width: 100%;
    text-align: center;
    text-decoration: none;
    border: 1px solid rgb(0, 0, 0);


}

.adminPanel {
    display: inline-block;
    width: 30%;
    padding-left: 15px;
}


.navBtn {
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    text-align: center;
    font-size: 30px;
    width: 32%;
    display: inline-block;
    color: rgb(112, 89, 21);
    text-decoration: none;
    margin-right: 5px;


}



.loginForm {
    margin-left: 200px;
    margin-top: 150px;
}



.regForm {
    width: 50%;
    margin: auto;
    background: transparent;
    margin-top: 150px;
}

.reg-label {
    font-size: 18px;
    width: 41%;
    display:inline-block;

}

.reg-input {
    margin: center;
    width: 100%;
    height: 80px;
    margin-left: 4px;
    display: block;

}

.reg-err {
    text-align: center;
    display: block;
    margin-top: 5px;
    padding-bottom: 2px;
    font-size: 16px;
    color: red;
    background: black;
    width: 50%;
    margin:auto;

}

.reg-h1-div {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 13px;
    background: rgb(230, 236, 174);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-weight: bold;

    font-size: 40px;

}

.reg-h1 {
    font-weight: bold;

}


.fl-l {
    float: right;
    width: 100%;
    font-size: 16px;
    height: 50px;
    background-color: rgb(184, 184, 184);
    border: 1px solid black;
    color: black;
}

.reg-btn-div {
    text-align: center;

    height: 50px;
}

.reg-btn {
    background: rgb(190, 190, 190);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    width: 40%;
    height: 100%;
    display: inline-block;
    color: rgb(102, 46, 46);
    text-decoration: none;
    border: 2px solid rgb(0, 0, 0);
}

.top {
    margin-top: 0px;
}

.menuLeft {
    background: linear-gradient(rgba(243, 234, 149, 0.863), rgba(197, 175, 131, 0.836), rgba(204, 175, 122, 0.801));
    height: 800px;
    width: 250px;
    margin-left: 5px;
    margin-top: 5px;
    float: left;

}

.midView {
    height: 800px;
    width: 1230px;
    float: left;
    margin-left: 50px;
    margin-top: 5px;

}


.profile-info {
    background-color: rgb(241, 235, 180);
    border: 7px inset rgb(236, 215, 157);
    height: 50px;
    width: 200px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 10px;
}

.usernameText {
    margin-top: 12px;

}

.toRight {
    float: right;
}

.finances {
    width: 90%;
    background-color: rgb(241, 235, 180);
    border: 7px inset rgb(236, 215, 157);
    margin-left: -20px;
    font-size: 16px;
}

.itemsMenuBox {
    width: 40%;
    height: 80px;
    background-color: rgb(241, 235, 180);
    border: 7px inset rgb(236, 215, 157);
    display: inline-block;
    margin-left: -20px;
    margin-right: 23px;
    font-size: 18px;
    text-align: center;
}

.noMarker {
    list-style-type: none;

}

.energy {
    text-align: center;
    font-size: 20px;
}

.energyBarHolder {
    border: 4px outset black;
    width: 90%;
    margin: auto;

    background-color: rgba(21, 80, 16, 0.336);

}

.energyBar {
    width: 50%;
    height: 25px;

    background: repeating-linear-gradient(
            -45deg,
            rgb(5, 255, 5),
            rgb(7, 73, 7)
    );

    color: white;


}

.adminView {
    width: 70%;
    height: 600px;
    background: white;
    margin: auto;
    margin-top: 8%;

}


.storageInfo {
    width: 100%;
    height: 10%;
    background-color: rgba(158, 158, 158, 0.89);
    border: 7px outset rgba(155, 152, 152, 0.692);
}

.storageItems {
    height: 60%;
    width: 100%;
    background-color: rgba(155, 152, 152, 0.692);
    border: 7px inset rgba(155, 152, 152, 0.692);
    display: inline-block;
}


.storageInfoLeft {
    height: 100%;
    width: 15%;
    float: left;
    font-size: 35px;
    text-align: center;

}

.storageInfoText{
    margin-top: 16px;
    height: 20%;

}

.storageInfoMid {
    height: 100%;
    width: 85%;
    font-size: 35px;
    float: right;
}

.storageStockLabel {
    height: 100%;
    text-align: right;
    display: inline-block;
    width: 40%;

}

.storageStockAmount {
    display: inline-block;
    height: 100%;
    width: 20%;
}

.fireplace {
    width: 100%;
    height: 24.5%;
    background-color: rgba(158, 158, 158, 0.89);
    border: 7px inset rgba(155, 152, 152, 0.692);
    margin-top: -4px;
}

.itemDiv {
    height: 220px;
    width: 160px;
    background-color: white;
    margin-left: 20px;
    margin-top: 13px;
    border-radius: 5px;
    float: left;
    border: 3px inset rgba(155, 152, 152, 0.692);
}

.itemQuality {
    height: 25px;
    width: 100%;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: larger;
}

.itemQuantity {
    height: 25px;
    width: 100%;

    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

.itemName {
    height: 26px;
    text-align: center;
    font-size: 20px;

}

.itemImg {
    height: 100px;
    width: 100px;
    margin: auto;

}

.img {
    max-width: 100%;
    max-height: 100%;
}

.itemInfo {
    height: 100px;
    text-align: center;

}

.itemPower {
    display: inline-block;
    width: 31%;
}
.matsName {
    height: 40px;
    text-align: center;
    font-size: 20px;
}
.matsInfo {
    height: 50px;
}

.matsPieces{
    height: 15px;
    font-size: 18px;
    text-align: center;
}

.workInfo {
    text-align: center;
    background-color: rgb(241, 235, 180);
    border: 6px inset rgb(236, 215, 157);
    font-size: 20px;
    width: 90%;
    margin:auto;
}

.workBtnDiv {
    height: 4%;
    width: 50%;
    background: linear-gradient(rgb(21, 252, 21), rgb(2, 116, 8), rgb(31, 243, 31));
    border-radius: 100px;
    text-align: center;
    margin-top: 5px;
    margin-left: 25%;
}

.workBtnBlockedDiv {
    height: 4%;
    width: 50%;
    background: gray;
    border-radius: 100px;
    text-align: center;
    margin-top: 5px;
    margin-left: 25%;
}

.workBtn {
    font-size: 25px;
    color: white;
    text-decoration: none;
}

.successWorked {

    width: 80%;
    margin: auto;
    background-color: rgb(241, 235, 180);
    border: 7px inset rgb(236, 215, 157);
    color: green;
    font-size: 20px;
    text-align: center;

}

.fightDiv {
    height: 100%;
    width: 100%;
    background-color: rgba(155, 152, 152, 0.692);
}

.portalCol {
    width: 405px;
    display: inline-block;
    height: 100%;
    text-align: center;

}
.midPortalCol {
    border-left: 2px solid rgb(68, 68, 68);
    border-right: 2px solid rgb(68, 68, 68);
}
.portalImg{
    height: 300px;
    width: 350px;
    border: 10px inset black;
    margin-top: 20px;
}

.portalInfo {
    text-align: center;
}

.portalName {
    width: 60%;
    height: 50px;
    margin: auto;
    border: 7px inset black;
    background-color:  rgba(155, 152, 152, 0.733);
    font-size: 23px;

}

.portalNeeds {
    width: 60%;
    height: 230px;
    margin:auto;
    margin-top: 20px;
    border: 7px inset black;
    background-color:  rgba(155, 152, 152, 0.733);
    font-size: 20px;
}

.goldCoin {
    border-radius: 30px;
}

.attackBtnDiv {
    width: 40%;
    height: 40px;
    margin: auto;
    margin-top: 15px;
    border: 7px outset black;
    background-color: rgb(168, 168, 167);
    font-size: 25px;
}

.attackBtnInner {

    width: 10px;
    float: left;
    display: inline-block;
    margin-left: 20px;
    margin-top: 2px;
}

.attackBtn {
    text-decoration: none;
    color: rgb(194, 0, 0);
    font-weight: bold;
    vertical-align: middle;
}
.attackBtnBlocked {
    text-decoration: none;
    color: black;
    font-weight: bold;
    vertical-align: middle;
}



.atkLogoDiv {

    width: 30px;
    float: right;
    margin-right: 20px;
    display: inline-block;
}
.atkLogo {
    height: 35px;
    width: 30px;
}

.menuBtn {
    width: 77%;
    height: 25px;
    float: left;
    margin-top: 5px;
    background-color: rgb(241, 235, 180);
    border: 7px outset rgb(236, 215, 157);
    text-align: center;
}

.menuBtnText {
    text-decoration: none;
    color: rgb(24, 43, 7);
    font-size: 18px;
    width: 100%;
}

.wonBattleMsgDiv {
    position: fixed;
    margin-top: 15%;
    margin-left: 36.2%;
    background-color: rgb(219, 219, 219);
    width: 400px;
    height: 180px;
    border-radius: 50px;
    text-align: center;
    border: 25px outset rgb(88, 150, 37);
}

.rankTopLabel {

    height: 20%;
    border: 7px outset rgb(196, 194, 194);
    background-color:  rgba(168, 168, 167, 0.623);
}

.rankBottom {

}

.rankList {
    width: 100%;
    font-size: 20px;
    text-align: center;
}

.rankRow {
    width: 100%;
    margin-left: 30px;

}

.rankColPlaceHead {
    display: inline-block;
    width: 4%;
    height: 26px;
    border: 3px outset rgb(196, 194, 194);
    background-color:  rgba(168, 168, 167, 0.623);
    margin-top: 4px;
    font-weight: bold;
}

.rankColPlace {
    display: inline-block;
    width: 4%;
    height: 26px;
    border: 3px inset rgb(196, 194, 194);
    background-color:  rgba(168, 168, 167, 0.623);
    margin-top: 4px;
}



.rankColHead {
    display: inline-block;
    width: 13%;
    height: 26px;
    border: 3px outset rgb(196, 194, 194);
    background-color:  rgba(168, 168, 167, 0.623);
    margin-top: 4px;
    font-weight: bold;
}
.rankCol {
    display: inline-block;
    width: 13%;
    height: 26px;
    border: 3px inset rgb(196, 194, 194);
    background-color:  rgba(168, 168, 167, 0.623);
    margin-top: 4px;
}

.toCenter {
    text-align: center;
}

.sortBtnDiv {
    display: inline-block;
    width: 7%;
    border: 3px outset rgb(196, 194, 194);
    background-color:  rgba(168, 168, 167, 0.623);
}

.sortBtn {
    text-decoration: none;
    color: rgb(31, 52, 65);
}

.dispBlock {
    display: block;
    height: 50%;
}

.fireplaceInfo {
    text-align: center;
    font-size: 20px;
}

.bakeBtnDiv {
    width: 7%;
    height: 30px;
    margin: auto;
    margin-top: 15px;
    border: 7px outset black;
    background-color:  rgb(168, 168, 167);
    font-size: 25px;
    text-align: center;
}

.bakeBtn {
    text-decoration: none;
    color: orangered;
    font-weight: bold;
}

.bakeNotif {
    margin: auto;
    width: 20%;
    height: 25px;
    margin-top: 10px;
    text-align: center;
    color: black;
    font-size: 20px;
    background-color: rgba(59, 197, 31, 0.863);
    border: 4px inset rgb(196, 194, 194);
    border-radius: 50px;
}

.bakeErr{
    margin: auto;
    width: 20%;
    height: 25px;
    margin-top: 10px;
    text-align: center;
    color: black;
    font-size: 20px;
    background-color: red;
    border: 4px inset rgb(196, 194, 194);
    border-radius: 50px;
}

.lh {
    width: 204px;
    display: inline-block;
    text-align: center;
}

.rh {
    width: 165px;
    display: inline-block;
    text-align: center;
}

.upgradeInfoDiv {
    float: left;
    display: inline-block;
    margin-left: 40px;
    margin-top: 17px;
    width: 35%;
    height: 250px;


}

.nextLvlItem {
    float: right;
    height: 290px;
}

.itemPrice {
    font-size: 17px;
    text-align: center;
    font-weight: bold;
}

.upgrBtnDiv {
    width: 60%;
    text-align: center;
    float: left;
    display: inline-block;
    margin-left: 80px;

}

.upgrBtn {
    font-size: 21px;
    text-decoration: none;
    color: rgb(35, 105, 18);
}

.upgrNotif {
    width: 80%;
    display: flex;
    margin-top: 10px;
    text-align: center;
}


.wepUpgrCost {
    width: 140px;
    height: 100px;
    margin-top: 10px;
    margin-left: 25px;

    display: inline-block;
    text-align: center;
    font-size: 21px;
    border: 7px inset rgb(196, 194, 194);
    background-color:  rgba(168, 168, 167, 0.623);
    font-weight: bold;
}

.shldUpgrCost {
    width: 140px;
    height: 100px;
    margin-top: 10px;
    margin-left: 40px;
    display: inline-block;
    text-align: center;
    font-size: 21px;
    border: 7px inset rgb(196, 194, 194);
    background-color:  rgba(168, 168, 167, 0.623);
    font-weight: bold;
}

.buyEnergyPotions {
    position: fixed;
    margin-top: 10px;
    margin-left: 500px;
    height: 250px;
    width: 310px;
    background: rgb(245, 245, 131);
    border: 7px inset gold;
    border-radius: 25px;
    font-size: 20px;
    text-align: center;

}

.specialBuyBtnDiv {
    width: 40%;

    margin:auto;
    border: 7px inset rgb(255, 217, 0);
    background-color:  rgba(228, 228, 11, 0.945);

}

.specialBuyBtn {
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 0px;
}

.specialHeader {
    background: rgb(214, 179, 20);
    color: white;
    height: 40px;
}


.notEnoughGold {
    margin: auto;

    width: 80%;
    height: 25px;
    margin-top: 100px;
    text-align: center;
    color: white;
    font-size: 20px;
    background-color: red;
    border: 4px inset rgb(241, 241, 85);
    border-radius: 50px;
}

.closeEnergyPotionsOffer {
    height: 1px; float: right; margin-right: 10px; background: none; border: none; font-size: 20px;
}

.okayBtnDiv {
    height: 28px;
    width: 60px;
    background: gold;
    border: 4px outset rgb(241, 241, 85);
    margin: auto;
    margin-top: 50px;
}

.closeFightPopUp {
    text-decoration: none;
    color: green;
    font-size: 18px;
    font-weight: bolder;
}

.fightPopupInfo {
    height: 120px;
}

.closeFightPopUpDiv {
    height: 28px;
    width: 60px;
    background: white;
    border: 4px outset white;
    margin: auto;
}

.useBtn {
    color: green;
    font-size: 18px;
    text-decoration: none;
}