<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Collectioner</title>
</head>

<body class="background">
<div id="container">
    <nav th:replace="fragments/commons :: navigation"></nav>

    <div class="menuLeft">
        <div class="profile-info">
            <div class="usernameText">
                <span th:text="${getUsername}">Username</span>
            </div>
        </div>
        <div class="energy">
            <span>Energy: </span>
            <span id="currEnergy" th:text="${hero.getEnergy()}"></span>
            <span class="inline"> / 10</span>
            <div class="energyBarHolder">
                <div class="energyBar" id="energyBar"></div>
            </div>
            <span>You can restore </span>
            <span th:text="${hero.energyToRestore}"></span>
            <span> energy</span>
            <div th:if="${canRestoreEnergy}" class="workBtnDiv">
                <a class="workBtn" href="/restoreEnergy">Restore</a>
            </div>
            <div th:if="${!canRestoreEnergy}" class="workBtnBlockedDiv">
                <a class="workBtn" href="/restoreEnergy">Restore</a>
            </div>
        </div>


        <ul th:object="${hero}" class="noMarker">
            <li>
                <div class="finances">
                    HP
                    <span th:text="*{HP}" class="toRight">100</span>
                </div>
            </li>
            <li>
                <div class="finances">
                    ATTACK
                    <span th:text="*{attack}" class="toRight">100</span>
                </div>
            </li>
            <li>
                <div class="finances">
                    DEFENSE
                    <span th:text="*{defense}" class="toRight">100</span>
                </div>
            </li>
            <br>
            <li>
                <div class="itemsMenuBox">
                    Left hand
                    <span th:text="*{shield.name}" class="toRight"><strong>Shield Level 100</strong></span>
                </div>
                <div class="itemsMenuBox">
                    Right hand
                    <br><span th:text="*{weapon.name}" class="toRight"><strong>Weapon Level 20</strong></span>
                </div>
            </li>

            <br>
            <li>
                <div class="finances">
                    Gold
                    <img class="goldCoin toRight" src="/img/goldCoinSmall.jpg" alt="">
                    <span th:text="*{gold}" class="toRight">100</span>
                </div>
            </li>

            <br>
            <div th:replace="fragments/commons :: navigBtns"></div>
        </ul>
    </div>
    <div class="midView" th:object="${hero}">
        <div class="fightDiv">

            <div>

                <div class="lh">
                    <h3>Left hand</h3>
                </div>
                <div class="rh">
                    <h3>Right hand</h3>
                </div>
            </div>





            <div style="float: left; display: inline-block">


                <div class="itemDiv">
                    <div class="itemName">Shield</div>
                    <div class="itemImg">
                        <img class="img"
                             src="https://ae01.alicdn.com/kf/HTB1K84CpKGSBuNjSspbq6AiipXah/Funny-1-1-Scale-61cm-simulation-WOW-King-Llane-Lion-Shield-resin-weapons-model-adult.jpg"
                             alt="">
                    </div>
                    <div class="itemInfo">
                        <div class="itemQuality">

                            <span th:text="*{shield.name}">0</span>
                        </div>
                        <div class="itemQuantity">
                            <div class="itemPower">
                                <p>ATK</p>
                                <p th:text="*{shield.getATK()}">1000</p>
                            </div>
                            <div class="itemPower">
                                <p>DEF</p>
                                <p th:text="*{shield.getDEF()}">1000</p>
                            </div>
                            <div class="itemPower">
                                <p>HP</p>
                                <p th:text="*{shield.getHP()}">1000</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="itemDiv">

                    <div class="itemName">Weapon</div>
                    <div class="itemImg">
                        <img class="img"
                             src="https://images-na.ssl-images-amazon.com/images/I/710yByxZb9L._AC_SL1500_.jpg" alt="">
                    </div>
                    <div class="itemInfo">
                        <div class="itemQuality">
                            <span th:text="*{weapon.name}">0</span>
                        </div>
                        <div class="itemQuantity">
                            <div class="itemPower">
                                <p>ATK</p>
                                <p th:text="*{weapon.getATK()}">1000</p>
                            </div>
                            <div class="itemPower">
                                <p>DEF</p>
                                <p th:text="*{weapon.getDEF()}">1000</p>
                            </div>
                            <div class="itemPower">
                                <p>HP</p>
                                <p th:text="*{weapon.getHP()}">1000</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="upgradeInfoDiv">




                <div class="attackBtnDiv upgrBtnDiv">
                    <a th:if="!${maxedShield}" class="upgrBtn" href="/items-upgrade/upgrade-shield">Upgrade shield to
                        level </a>
                    <a th:if="!${maxedShield} and ${hero.shield.getId() == 4}" class="upgrBtn"
                       href="/items-upgrade/upgrade-shield">1</a>
                    <a th:if="!${maxedShield} and ${hero.shield.getId() == 5}"
                       class="upgrBtn" href="/items-upgrade/upgrade-shield">2</a>
                    <a th:if="${maxedShield}">Shield is maxed out.</a>
                </div>
                <div class="attackBtnDiv upgrBtnDiv">
                    <a th:if="!${maxedWeapon}" class="upgrBtn" href="/items-upgrade/upgrade-weapon">Upgrade weapon to
                        level </a>
                    <a th:if="!${maxedWeapon} and ${hero.weapon.getId() == 1}" class="upgrBtn"
                       href="/items-upgrade/upgrade-weapon">1</a>
                    <a th:if="!${maxedWeapon} and ${hero.weapon.getId() == 2}"
                       class="upgrBtn" href="/items-upgrade/upgrade-weapon">2</a>
                    <a th:if="${maxedWeapon}">Weapon is maxed out.</a>
                </div>

                <div th:if="${successfullyUpgradedWeapon or successfullyUpgradedShield}" class="bakeNotif upgrNotif";>
                    <span th:if="${successfullyUpgradedWeapon}" style="width: 100%;">Successfully upgraded weapon.</span>
                    <span th:if="${successfullyUpgradedShield}" style="width: 100%;">Successfully upgraded shield.</span>
                </div>
                <div th:if="${maxedShield and maxedWeapon}" class="bakeNotif upgrNotif">
                    <span th:if="${maxedWeapon and maxedShield}" style="width: 100%;">You already own the best in slot items!</span>
                </div>

                <div th:if="${notEnoughGold} or ${notEnoughAluminium} or ${notEnoughSteel}" class="bakeErr upgrNotif">
                    <span th:if="${notEnoughGold}" style="width: 100%;">Not enough gold.</span>
                    <span th:if="${notEnoughAluminium}" style="width: 100%;">Not enough aluminium.</span>
                    <span th:if="${notEnoughSteel}" style="width: 100%;">Not enough steel.</span>
                </div>


            </div>

            <div th:if="${hero.shield.id == 4}" style="display: inline-block">
                <div th:replace="fragments/commons :: shieldLvl1nextItem"></div>
            </div>

            <div th:if="${hero.shield.id == 5}" style="display: inline-block">
                <div th:replace="fragments/commons :: shieldLvl2nextItem"></div>
            </div>

            <div th:if="${hero.weapon.id == 1}" style="display: inline-block">
                <div th:replace="fragments/commons :: weaponLvl1nextItem"></div>
            </div>

            <div th:if="${hero.weapon.id == 2}" style="display: inline-block">
                <div th:replace="fragments/commons :: weaponLvl2nextItem"></div>
            </div>





        </div>


    </div>
</div>
</div>

<footer th:replace="fragments/commons :: footer"></footer>
<script type="text/javascript" src="/js/app.js"></script>
</body>

</html>